{% extends 'base.html.twig' %}

{% block cover %}{% endblock %}
{% block body %}


<section class="text-center my-5 p-1">

  <!-- Section heading -->
  <h1 class="h1-responsive font-weight-bold my-5">Mon profil</h1>

  <!-- Grid row -->
  <div class="row d-flex justify-content-center">

    <!--Grid column-->
    <div class="col-lg-6 col-lg-offset-3 col-md-12 mb-lg-0 mb-4 d-flex justify-content-center">
      <!--Card-->
      <div class="card testimonial-card">
        <!--Background color-->
        <div class="card-up info-color"></div>
        <!--Avatar-->
        <div class="avatar mx-auto white pt-2">

          {% if app.user.getPicture() |length > 0 %}
            {# if user has  no picture stored use default avaatr#}
          <img src="{{asset('uploads/images/'~ app.user.getPicture()[0])}}" class="rounded-circle img-fluid" style="max-width: 180px;">
          {% else %}
          <img src="{{asset('img/avatar-user.jpg')}}" class="rounded-circle img-fluid" style="max-width: 180px;">
          {% endif %}

        </div>
        <div class="card-body">
          <!--Name-->
          <span class="font-weight-bold mb-4">Nom d'utilisateur : </span><span>{{app.user.getNickname()}}</span><br/>
          <span class="font-weight-bold mb-4">Email : </span><span>{{app.user.getEmail()}}</span>
          <hr>
          <!--Quotation-->
          <p class="dark-grey-text mt-4">
            <a type="button" class="btn btn-primary" href="{{path('profil_edit', {'id' : app.user.getId()})}}">Modifier vos informations</a>
          </p>
        </div>
      </div>
      <!--Card-->
    </div>
    <!--Grid column-->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Testimonials v.1 -->

{% endblock %}
